{{ 'landing-header.css' | asset_url | stylesheet_tag }}

<div class="header-wrapper">
  {% if section.settings.logo != blank %}
    <img
      src="{{ section.settings.logo | image_url }}"
      class="header-logo"
      width="180"
      height="45"
      alt="Logo" />
  {% else %}
    <img
      src="{{ 'drumeo-logo.svg' | asset_url }}"
      class="header-logo"
      width="180"
      height="45"
      alt="Logo" />
  {% endif %}

  <div class="header-nav">
    <button class="header-nav-btn">
      {% render 'icon-burger-white' %}
    </button>
  </div>
</div>


{% schema %}
  {
    "name": "Landing Header",
    "settings": [
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo"
      }
    ]
  }
{% endschema %}