.welcome {
  padding: 250px 50px;
  background-color: #fafafa;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @media (max-width: 1150px) {
    padding: 100px 46px 90px;
  }

  @media (max-width: 768px) {
    padding: 65px 46px 50px;
  }
}

.welcome-wrapper {
  max-width: 1082px;
  margin: 0 auto;
}

.welcome-title-wrapper {
  text-align: center;
}

.welcome-subtitle {
  font-weight: 700;
  font-size: 34px;
  line-height: 42px;
  letter-spacing: 0.05em;
  color: var(--blue);

  @media (max-width: 768px) {
    font-size: 20px;
    line-height: 30px;
  }
}

.welcome-title {
  font-family: 'FFF Tusj', cursive;
  font-weight: 700;
  font-size: 130px;
  line-height: 1;
  letter-spacing: 0.05em;
  text-align: center;
  color: #5f5f5f;

  @media (max-width: 768px) {
    font-size: 60px;
  }
}

.welcome-title-bottom {
  margin-top: 15px;
  font-size: 28px;
  line-height: 40px;
  color: var(--black);

  @media (max-width: 768px) {
    font-size: 22px;
    line-height: 30px;
  }
}

.welcome-description {
  max-width: 782px;
  margin: 0 auto;
  margin-top: 35px;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #0c1524b3;

  @media (max-width: 768px) {
    font-size: 14px;
    line-height: 24px; 
  }
}

.welcome-bundle {
  margin-top: 28px;
  text-align: center;

  @media (max-width: 768px) {
    font-size: 14px;
    line-height: 24px; 
  }
}

.welcome-bundle-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  color: #0c1524b3;
}

.welcome-bundle-list {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 25px;
  margin-top: 120px;

  @media (max-width: 768px) {
    margin-top: 90px;
  }
}

.welcome-bundle-item {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  min-height: 611px;
  width: 309px;
  padding: 40px;
  border-radius: 30px;
  background-color: #fff;
  box-shadow: 0 4px 17px 0 #0000001a;
  transition: transform 0.3s ease;

  &:hover {
    z-index: 2;
    transform: scale(1.1);
  }

  @media (max-width: 768px) {
    width: 280px;
    min-height: 540px;
    padding: 30px;
    padding-bottom: 26px;
    border-radius: 23px;
  }

  &.best-deal-bundle {
    position: relative;
    transform: scale(1.18);
    padding: 35px;
    border: 8px solid var(--blue);

    &:hover {
      transform: scale(1.28);
    }

    &::before {
      content: 'BEST DEAL';
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: -7px;
      padding: 3.5px 15px;
      border-radius: 0 0 10px 10px;
      font-family: 'Bebas Neue', Arial, sans-serif;
      font-size: 20px;
      letter-spacing: 0.05em;
      text-align: center;
      color: var(--ghost-white);
      text-transform: uppercase;
      background-color: var(--blue);
    }

    & .welcome-bundle-btn {
      margin-top: 25px;
      background-color: var(--blue);
    }

    @media (max-width: 1150px) {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translateX(-50%) translateY(-50%) scale(1.1);
      transform-origin: center;
      z-index: 1;
      padding: 30px;
      padding-bottom: 25px;

      &:hover {
        transform: translate(-50%) translateY(-50%) scale(1.2);
      }
    }
  }
}

.welcome-bundle-item-title {
  font-family: 'Bebas Neue', Arial, sans-serif;
  font-size: 27px;
  letter-spacing: 0.05em;
  color: #000;

  @media (max-width: 768px) {
    font-size: 20px;
  }
}

.welcome-bundle-image {
  width: auto;
  max-width: 100%;
  align-self: center;
  margin-top: 9px;
}

.welcome-bundle-price {
  margin-top: 10px;
  padding-bottom: 15px;
  text-align: left;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.welcome-bundle-price-old,
.welcome-bundle-price-new,
.welcome-bundle-price-save {
  font-family: 'Bebas Neue', Arial, sans-serif;
  font-size: 22px;
  letter-spacing: 0.05em;
  text-decoration: line-through;
  color: rgba(0, 0, 0, 0.2);

  @media (max-width: 768px) {
    font-size: 16px;
  }
}

.welcome-bundle-price-new {
  font-size: 35px;
  color: #000;
  text-decoration: none;

  @media (max-width: 768px) {
    font-size: 26px;
  }
}

.welcome-bundle-price-save {
  color: var(--blue);
  text-decoration: none;
}

.welcome-bundle-inc {
  margin-top: 17px;
  margin-bottom: 20px;
  text-align: left;

  @media (max-width: 768px) {
    margin-top: 13px;
  }
}

.welcome-bundle-inc-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #000;

  @media (max-width: 768px) {
    font-size: 12px;
    line-height: 18px;
  }
}

.welcome-bundle-inc-list {
  margin-top: 10px;

  p {
    padding-left: 28px;
    position: relative;
    font-size: 16px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.5);

    &:not(:last-child) {
      margin-bottom: 5px;
    }

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 18px;
      height: 18px;
      background-image: url('icon-check-blue.svg');
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
    }

    @media (max-width: 768px) {
      padding-left: 24px;
      font-size: 13px;
      line-height: 21px;

      &::before {
        width: 16px;
        height: 16px;
      }
    }
  }
}

.welcome-bundle-btn {
  margin-top: auto;

  @media (max-width: 768px) {
    & svg {
      margin-top: -4px;
      width: 14px;
      height: 14px;
    }
  }
}
