.welcome {
  padding: 250px 50px;
  background-color: #fafafa;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.welcome-wrapper {
  max-width: 1082px;
  margin: 0 auto;
}

.welcome-title-wrapper {
  text-align: center;
}

.welcome-subtitle {
  font-weight: 700;
  font-size: 34px;
  line-height: 42px;
  letter-spacing: 0.05em;
  color: var(--blue);
}

.welcome-title {
  font-family: 'FFF Tusj', cursive;
  font-weight: 700;
  font-size: 130px;
  line-height: 1;
  letter-spacing: 0.05em;
  text-align: center;
  color: #5f5f5f;
}

.welcome-title-bottom {
  margin-top: 15px;
  font-size: 28px;
  line-height: 40px;
  color: var(--black);
}

.welcome-description {
  max-width: 782px;
  margin: 0 auto;
  margin-top: 35px;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #0c1524b3;
}

.welcome-bundle {
  margin-top: 28px;
  text-align: center;
}

.welcome-bundle-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  color: #0c1524b3;
}

.welcome-bundle-list {
  margin-top: 140px;
}

.welcome-bundle-item {
  width: 100%;
  max-width: 310px;
  padding: 40px;
  border-radius: 30px;
  background-color: #fff;
  box-shadow: 0 4px 17px 0 #0000001a;
}

.welcome-bundle-title {
  font-family: 'Bebas Neue', Arial, sans-serif;
  font-weight: 700;
  font-size: 27px;
  letter-spacing: 0.05em;
  color: #000;
}

.welcome-bundle-image {
  margin-top: 9px;
}

.welcome-bundle-price {
  margin-top: 10px;
  padding-bottom: 15px;
  text-align: left;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.welcome-bundle-price-old,
.welcome-bundle-price-new,
.welcome-bundle-price-save {
  font-family: 'Bebas Neue', Arial, sans-serif;
  font-weight: 700;
  font-size: 22px;  
  letter-spacing: 0.05em;
  text-decoration: line-through;
  color: rgba(0, 0, 0, 0.2);
}

.welcome-bundle-price-new {
  font-size: 35px;
  color: #000;
  text-decoration: none;
} 

.welcome-bundle-price-save {
  color: var(--blue);
  text-decoration: none;
}