.landing-footer {
  padding: 100px 0;
  background: #111729;
}

.landing-footer-top {
  padding: 0 50px 53px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.landing-footer-top-wrap {
  width: 100%;
  max-width: 1089px;
  margin: 0 auto;
}

.landing-footer-connect {
  width: 286px;
}

.landing-footer-title {
  font-family: 'Bebas Neue', Arial, sans-serif;
  font-weight: 400;
  font-size: 28px;
  line-height: 1;
  letter-spacing: 0.04em;
  color: #f2f3f5;
}

.landing-footer-connect-desc {
  margin-top: 13px;
  line-height: 20px;
  color: #879097;
}

.landing-newsletter-form {
  margin-top: 22px;

  .newsletter-input {
    border-radius: 30px;
    padding: 8px 24px;
    width: 100%;
    height: 31px;

    font-size: 17px;
    text-align: center;
    color: #879097;
    
    background: #4a545a;
    border: none;
  }
}

.landing-newsletter-form-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;

  .newsletter-btn {
    width: auto;
    min-width: 97px;
    padding: 3.5px 20px;
    font-family: 'Bebas Neue', Arial, sans-serif;
    font-size: 17px;
    letter-spacing: 0.07em;
    text-align: center;
    color: var(--blue);

    border: 2.45px solid var(--blue);
    background-color: transparent;
  }
}

.newsletter-success,
.newsletter-error {
  margin-top: 10px;
  font-size: 14px;
  color: var(--blue);
}

.newsletter-error {
  color: #eb5b5b;
}

.landing-footer-apps {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 22px;

  img {
    display: flex;
  }
}