/* fonts */
@font-face {
  font-family: 'FFF Tusj';
  src: url('ffftusj.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  /* colors */

  --blue: #0b76db;
  --black: #0c1524;
  --ghost-white: #fafafb;
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 18px;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 9px;
  font-size: 21px;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--ghost-white);
  font-family: 'Bebas Neue', Arial, sans-serif;
  border-radius: 20px;
  padding: 8px 20px;
  background-color: var(--black);
  transition: opacity 0.3s ease;
  cursor: pointer;

  
  &:hover {
    opacity: 0.8;
  }

  @media (max-width: 768px) {
    font-size: 16px;
  }

  @media (max-width: 680px) {
    padding: 6px 20px;
  }
}

a.btn {
  text-decoration: none;
}

.btn-with-arrow {
  & svg {
    transition: transform 0.3s ease;
  }

  &:hover {
    svg {
      transform: translateX(3px);
    }
  }
}